.list-contact {
  display: flex;
  flex-direction: column;
  &__selection {
    height: 44px;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__content{
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 15px;

  }
  i{
    width: 20px;
    margin-left: 4px;
  }
  .active {
    background: rgb(219, 219, 219);
  }
}
