.hoversearch:hover {
    background-color: aquamarine; 
    width: 67px;
    height: 32px;
    border-radius: 5px;
}
.icon-nav-panel{
    padding: 30px 0;
    color: white;
    height: 20px;
    font-size: 1.65rem;
}