.hoversearch:hover {
    background-color: rgb(88, 170, 252); 
    width: 67px;
    height: 32px;
    border-radius: 5px;
}
.icon-nav-panel{
    padding: 20px 0;
    color: white;
    height: 20px;
    font-size: 1.65rem;
    margin-bottom: 25px;
}
.nav-link a{
    border-radius: 3px;
}
.nav-link{
    margin-top: 20px;
}
.nav-link .active{
    background-color: #006edc;
}
.setting-button{
    cursor: pointer;
}