.volunteerAlphabet{

}
.volunteer__header{
height: 44px;
font-weight: 400;
font-size: 20px;
text-align: center;
}
.volunteer__content{
    font-size: larger;
    font-weight: 600;
    font-style: inherit;
}
.slick-arrow{
    display: none !important;
}